<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chia Sẻ Đề THPT Bình Mỹ</title>
    <link rel="stylesheet" href="font-icon\fontawesome-free-5.15.2-web\css\all.min.css">
    <link rel="stylesheet" href="css/home.css">

    <script>
        if(window.chrome) {
             var access = true;
        } else {
            window.onload = function() {
                setTimeout(() => {
                document.write("ERROR!")
                }, 100)
            }
        }
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script>
        var user = window.navigator.userAgent;
        if(user.includes("Windows") || user.includes("windows")) {
          $('html').css('display', 'none');
        }
    </script>
    <script>
     $.ajax({
        type: "GET",
        url: "https://api.ipify.org?format=json",
        success: function (response) {
          ip = response.ip;

          $.post("/checkIp",
    {
      ip: ip,
    },
    function(data, status){

        if(data == 'banned') {
            swal("Bạn Đã Bị Cấm");
            document.write("YOU HAS BEEN BANNED! FUCK YOUR MOM!");
        }
       
        });
          
        }
    });
</script>
<script>

     $.post("/checkRole",{},function(data, status){ 

         if(data.admin) {
             $( document ).ready(function() {
    $('#header').append(`<span id="user-show">${data.user}</span>`)
    $('#more-controller').append(`<a href="/listBanned"><div class="more-upload items more"><i class="far fa-list-alt"></i>List Banned</div></a>`)
    $('#more-controller').append(`<a href="/resetId"><div class="more-upload items more"><i class="fab fa-instalod"></i>Reset ID</div></a>`)
});
         }
        
      });

</script>
</head>
<body>
    <div class="popup-show-message-modal" id="popup-show-message-modal">
        <div class="box-popup" id="box-popup">
            <div class="thong-bao-popup"><span>Thông báo</span></div>
            <div class="noidung-popup">
<div>                <span> - Bạn đang ở khu khối </span> <span style="color: red; font-weight: bold" id="number-khoi">10</span></div>
                <div><span id="chiase-messgae-popop-content"> - Hãy tích cực chia sẻ đề để phát triển Web nhé các bạn và đừng nên đăng những thứ gì ngoài nội dung đề!</span></div>
                  <div><span id="chiase-messgae-popop-content" style="color:  inherit;"> - Để thay đổi  <span style="color: #007bff; font-weight: bold">Lớp</span>, bạn hãy click vào nút ở thanh <span style="color: #007bff; font-weight: bold">Header</span> đầu web</span></div>
            </div>
            <div class="close-popup-form">
                <button id="btn-close-modal">CLOSE</button>
            </div>
        </div>
    </div>

    <div class="change-khoi-popup-modal">
                <div class="chose-table-box" id="chose-table-box">
                    <span style="margin-top: 3px; padding: 6px 0px">Vui lòng chọn khối cần đến!</span>
                    <div class="submit-go-link-change">
                    <a href="/khoi-10">Khối 10</a>
                    <a href="/khoi-11">Khối 11</a>
                    <a href="/khoi-12">Khối 12</a>
                    </div>
                    <button id="close-change-modal">TẮT</button>
                </div>
    </div>
    
      
      <div class="container" id="container">

     

        {{> header}}

        <div class="content" id="content">
            <div class="slider slider-off" id="slider">
                <div class="text-slider-title" id="text-slider-title"><span>Bảng Điều Khiển</span></div>
                <div class="controller">
                    <a href="/" id="btn-to-home"><div class="home items" id="page-home"><i class="fas fa-home"></i><span id="show-khoi-drawer">Home - Khối 10</span></div></a>
                     <div class="more items" id="btn-show-more"><i class="fas fa-cog"></i>Tiện Ích</div>
                     <div class="more-controller" id="more-controller">
                         <a href="/upload"><div class="more-upload items more" id="page-post"><i class="fas fa-folder-plus"></i>Đăng Bài</div></a>

                     </div>
                </div>
            </div>

            <div class="wrapper" id="wrapper">
                {{{body}}}
            </div>
        </div>


        
      </div>
    

</body>
<script>
   
      const showKhoi = $('#show-khoi')
      const modal = $('#popup-show-message-modal');
      const btnClose = document.getElementById('btn-close-modal')
      
      const box = $('#box-popup');

      btnClose.addEventListener('click', () => {
          box.addClass('animation-box');
           modal.addClass('animateModal')
            setTimeout(() => {
              modal.css('display', 'none')
          }, 150)
          
      })

      showKhoi.on('click', () => {
         
});
    

     
    
      $(".items").on('click', (e) => {
             e.target.classList.add("active")
      })
    const slider = $('#slider');
    const btn_slider = $('#btn-slider');
    const moreController = $('#more-controller');
    const btnshowMore = $('#btn-show-more');
    moreController.slideToggle();
    const numberKhoi = $('#number-khoi');
    var clickShowChage = 0;

    var click = 0;
   
    var clickValue = 0;

    btnshowMore.click(() => {
         click++;
         if(click == 2) {
             btnshowMore.removeClass('active')
             click = 0;
         }
         moreController.slideToggle();

    })

    btn_slider.click(function() {

        
        
        slider.toggleClass('slider-on');    
        
    })

    $('#wrapper').click(function() {
        if(slider.hasClass('slider-on')) {
            slider.removeClass('slider-on')
        }
    })


      //checkCurrentKhoi
            if(document.cookie.includes("url=10")) {
                document.getElementById('btn-to-home').href = '/khoi-10'
                $('#show-khoi-drawer').html('Home - Khối 10')
          }

           if(document.cookie.includes("url=11")) {
               document.getElementById('btn-to-home').href = '/khoi-11'
                numberKhoi.html('11')
                showKhoi.html('Khối 11')
                $('#show-khoi-drawer').html('Home - Khối 11')
          }

          if(document.cookie.includes("url=12")) {
            document.getElementById('btn-to-home').href = '/khoi-12'
               numberKhoi.html('12')
               showKhoi.html('Khối 12')
               $('#show-khoi-drawer').html('Home - Khối 12')
          }


          $('#show-khoi').click(() => {
              $('.chose-table-box').addClass('show-popup-change-animation')
            $('.change-khoi-popup-modal').css('display', 'block');
          })

         


          $('#close-change-modal').click(() => {
              setTimeout(() => {
$('.change-khoi-popup-modal').css('display', 'none');
$('.change-khoi-popup-modal').removeClass('animation-change-modal-hide');
              }, 200)
             $('.change-khoi-popup-modal').addClass('animation-change-modal-hide');
             
          })
          
</script>
</html>