<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chia Sẻ Đề THPT Bình Mỹ</title>
    <link rel="stylesheet" href="font-icon\fontawesome-free-5.15.2-web\css\all.min.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script>
        var user = window.navigator.userAgent;
        if(user.includes("Windows") || user.includes("windows")) {
          $(document).ready(() => {
              setTimeout(() => {
         document.write("ERROR")
              }, 100)
          })
        }
    </script>
    <script>
     $.ajax({
        type: "GET",
        url: "http://ip-api.com/json",
        success: function (response) {
          ip = response;

          $.post("/checkIp",
    {
      ip: ip.query,
    },
    function(data, status){

        if(data == 'banned') {
            swal("Bạn Đã Bị Cấm");
            document.write("YOU HAS BEEN BANNED! FUCK YOUR MOM!");
        }
       
        });
          
        }
    });
</script>
<script>

     $.post("/checkRole",{},function(data, status){ 

         if(data.admin) {
             $( document ).ready(function() {
    $('#more-controller').append(`<a href="/listBanned"><div class="more-upload items more"><i class="far fa-list-alt"></i>List Banned</div></a>`)
    $('#more-controller').append(`<a href="/resetId"><div class="more-upload items more"><i class="fab fa-instalod"></i>Reset ID</div></a>`)
});
         }
        
      });

</script>
</head>
<body>
    
      
      <div class="container" id="container">

     

        {{> header}}

        <div class="content" id="content">
            <div class="slider slider-off" id="slider">
                <div class="text-slider-title"><span>Bảng Điều Khiển</span></div>
                <div class="controller">
                    <a href="/"><div class="home items" id="page-home"><i class="fas fa-home"></i>Home - Khối 10</div></a>
                     <div class="more items" id="btn-show-more"><i class="fas fa-cog"></i>Tiện Ích</div>
                     <div class="more-controller" id="more-controller">
                         <a href="/upload"><div class="more-upload items more" id="page-post"><i class="fas fa-folder-plus"></i>Đăng Bài</div></a>

                     </div>
                </div>
            </div>

            <div class="wrapper" id="wrapper">
                {{{body}}}
            </div>
        </div>


        
      </div>
    

</body>
<script>

    const slider = $('#slider');
    const btn_slider = $('#btn-slider');
    const moreController = $('#more-controller');
    const btnshowMore = $('#btn-show-more');
    moreController.slideToggle();
   
    var clickValue = 0;

    btnshowMore.click(() => {

         moreController.slideToggle();

    })

    btn_slider.click(function() {
        
        slider.toggleClass('slider-on')
        
    })

    $('#wrapper').click(function() {
        if(slider.hasClass('slider-on')) {
            slider.removeClass('slider-on')
        }
    })


</script>
</html>