<div class="view-list-banned">

    <div class="title-list-banned">List Banned IP Andress</div>
{{#each data}}
    <div class="show-list">
        <div class="index-list">#{{sum @index 1}}</div>
        <div class="show-ip-banned">IP {{this.ip}}</div>
        <div class="controller-edit-banned">
            <a href="/unBanned{{this.ip}}"><button id="btn-active-ip">ACTIVE</button></a>
        </div>
    </div>
    {{/each}}

</div>

<script>
     $('#popup-show-message-modal').css('display', 'none')
     $('#show-khoi').css('display', 'none')
</script>