
<div class="main-login">

    <div class="title-chiasede"><img src="../img/logonew.png" alt=""></div>
<form action="" class="form-dangnhap" method="POST">
       <div class="input-group">
            <input type="text" class="dangnhap-input" placeholder="{{tus.user}}" name="user">
            <input type="password" class="dangnhap-input" placeholder="{{tus.password}}" name="password">
       </div>

       <div class="submit-group">
           <button type="submit">Đăng Nhập</button>
       </div>
</form>

   

</div>

<script>
    const header = $('.header');
    header.css('box-shadow', '0px 0px 8px #656565')
    const container = $('#container');
    container.css('overflow', 'visible');
    $('html').css('background', 'linear-gradient(120deg, #f6d365 0%, #fda085 100%)');
    var moreControllerfires = $('#more-controller');
    moreControllerfires.slideToggle();
</script>