html,body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

#show-khoi-drawer {
    background: none !important;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#show-khoi {
    color: white;

    font-size: 0.8rem;
    padding: 5px;
    border: 2px solid white;
    position: absolute;
    right: 20px;
}

.animateModal {
    animation: modalHide 0.2s linear;
}

@keyframes modalHide {
    from{opacity: 1;}
    to{opacity: 0;}
}

.swal-button-container button {
    width: auto !important;
    padding: 10px;
}

.toast-success {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 27px;
    width: 80%;
    height: 10%;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: .25rem;
    
}

.popup-show-message-modal {
    padding-top: 10px;
    display: none;
    z-index: 10000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0 , 0 , 0.5);
}

.thong-bao-popup {
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    padding: 15px;
}

.animation-box {

    animation: hideBox 0.3s linear !important;

}

@keyframes hideBox {
    from{
        opacity: 1;
        transform: translateY(0%);

    }
    to{
        display: none;
        opacity: 0;
        transform: translateY(-70%);
    }
}

.box-popup {
    animation: showPopup 0.3s linear;
    overflow: hidden;
    width: 90%;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0 , 0 , 0.3);
}

@keyframes showPopup {
    from{

        transform: translateY(-20%);

    }
    to{
        transform: translateY(0%);
    }
}

#chiase-messgae-popop-content {
    color: red;
    
}

.noidung-popup {
    padding: 10px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.close-popup-form {
    border-top: 1px solid #e5e5e5;
    width: 100%;
    padding: 22px;
    position: relative;
    display: flex;
    align-items: center;
}

.close-popup-form button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    outline: none;
    color: #333;
    position: absolute;
    padding: 6px;
    right: 10px;
    background: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;

}
.close-popup-form button:focus {
    color: white;
    background: #e6e6e6;
}

.noidung-popup div {
    margin-top: 5px;
}
.add-tus-act {
    display: block !important;
    transition: all 0.3s linear;
         margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 7px;
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        border-radius: .25rem;
        animation: fade 0.3s linear;

}

.add-tus-dis {display: none;  transition: all 0.3s linear;}
.delete-tus-dis {display: none;  transition: all 0.3s linear;}

@keyframes fade {
    from{
        margin-left: -20px;
        opacity: 0;
    }
    to{
        margin-left: 10px;
        opacity: 1;
    }
}

.toast-error {
    padding: 27px;
    margin: 20px auto;
    width: 80%;
    height: 10%;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.delete-tus-act {
    display: block !important;
    transition: all 0.3s linear;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 7px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: .25rem;
    animation: fade 0.3s linear;
}

.backhome {
    margin: 0 auto;
    box-shadow: 0px 0px 5px #6363638a;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    width: 90%;
    padding: 5px 3px;
}




.container {
    overflow: auto;
    padding: 0px;
    width: 100%;
    height: calc(100% - 40px);
}
.header {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
    box-shadow: 0px 0px 8px #0000007a !important;
    z-index: 100;
}

.content {
    z-index: -1;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    
} 

.slider {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: all 0.25s linear;
    background-color: #ffffff;
    position: fixed;
    top: 40px;
    bottom: 0px;
    width: 75%;
    height: 100%;
    z-index: 99;
}

.text-slider-title {
    position: relative;
    padding-left: 21px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 15px ;
   height: 15%;

}

.text-slider-title span {
    position: relative;
    line-height: 100%;
    margin-top: 60%;
    color: rgba(0, 0, 0, 0.6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    
}

.controller {
    margin-top: 5px;
    padding-left: 21px;
    width: 100%;
    height: 40%;
}

.items {
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 25px;
    padding: 8px 0px;
    padding-left: 8px;
}

.active {

    background-color: rgba(0, 0, 0, 0.15) !important;

}

.items i {
    margin-right: 8px;
}

.more-controller {
    margin-left: 10%;
    border-left: 2px solid #cccccc;

    width: 100%;
    padding-left: 20px;
    margin-top: 10px;

}

.more {
    margin-top: 5px;
}

.more-upload,.more-signup {
    margin-top: 3px;
}

.more-upload,.more-signup,.more-login {
    width: 80%;
}

.text-slider-title span::after {
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: -3px;
}

.slider-off {
    box-shadow: 0px 0px 0px #ffffff;
    transform: translateX(-100%);
}

.slider-on {
    box-shadow: 5px 0px 10px #e6e6e6;
    transform: translateX(0%) !important;
}

.list {
    display: flex;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px #979797;
    width: 80%;
    margin-top: 15px;
}

.main-login {
    border-top: 3px solid #007bff;
    text-align: center;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    display: flex;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 5px #cccccc;
    width: 80%;
    margin: auto;

}

select[name="mon"] {
    margin-bottom: 5px;
    width: 90%;
    outline: none;
    background-color: #ffffff;
    color: #495057;
    padding: 5px 3px;
    border: 1px solid #cccccc;
   
}

.noidung {
    overflow: hidden;
    transition: all 0.2s linear;
    animation: show 0.3s ease-in;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font: 400 12px Arial;
    align-items: center;
    display: flex;
    width: 90%;
    margin: 0px auto 5px auto;
}

.index-socau {
    font: 300 12px Arial;
    width: 15%;
    text-align: center;
    height: 100%;
}

.cauhoi-stt {
    font: 300 13px Arial;
    display: flex;
    margin-bottom: 7px;
    width: 82%;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.index-so-cau-cauhoi {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ccc;
    width: 17%;
    padding: 7px 0px;
}

.noi-dung-stt-cauhoi {
    padding: 3px 5px;
    display: flex;
    align-items: center;
    flex: 1;
}

.input-soan-noi-dung {
    transition: all 0.2s ease-in;
    transform-origin: left;
    padding: 8px;
    outline: none;
    border: none;
    border-left: 1px solid #cccccc;
    flex: 1;
    height: 100%;
}

@keyframes show {

    from{
        opacity: 0;
        margin-left: -50px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.input-soan-noi-dung:focus {
    box-shadow: 0 0 2px #00a2ff inset;
}

#chon-kieu-de:focus {
    transition: all 0.2s linear;

    box-shadow: 0 0 0 0.15rem #00a2ff52;

}

#chon-mon-hoc:focus {
    transition: all 0.2s linear;


    box-shadow: 0 0 0 0.15rem #00a2ff52;

}



.index-socau-views {
    justify-content: center;
    width: 20% !important;
    display: flex;
    align-items: center;
    padding: 0px;
}

.input-soan-noi-dung-views {

    display: flex;
    align-items: center;
    padding: 10px 0px 10px 5px !important;
}

select[name="kieude"] {
    margin-bottom: 5px;
    width: 90%;
    outline: none;
    background-color: #ffffff;
    color: #495057;
    padding: 5px 3px;
    border: 1px solid #cccccc;
   
}

option {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.mon-subtitle {
    padding-left: 3px;
    font: 400 0.88rem Arial;
    margin: 2px auto 5px  auto;
    width: 90%;
    text-align: left;
    color:rgb(73, 80, 87);
}

h4:hover {
    color: #007bff !important;
}

h4 {
   font-size: 1.4em;
    margin: 5px 0px 5px 0px;
}

.icon-user {
    background-color: rgb(233, 236, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    
}

b {
    margin-right: 5px;
    font-style: italic;
}

.input-login-form {
    
    box-sizing: border-box;
    flex: 1;
    outline: none;
    border: 1px solid transparent;
    height: 100% !important;
   padding: 0;
    padding-left: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}


.input-login-form:focus {
    
    border: 1px solid #007bff;
          
}

.status-login {
    font-style: italic;
    font-size: 0.9rem;
    width: 100%;
    padding-top: 10px;
}

.parent-input {
    
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 90%;
    margin-top: 15px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}




.submit-upload {
    padding: 0px;
    position: absolute;
    bottom: 0;
    height: 15% !important;
}
.input-upload {
    padding-top: 15px !important;
    padding-bottom: 3px !important;
    overflow: auto;
    height: 85% !important;
}
.title-chiasede {
    border-bottom: 1px solid rgba(0,0,0,.125);

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 1.2rem;

    width: 100%;
    padding: 10px 0px 5px 0px;
   

}


.title-chiasede-upload {
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
    height: 10% !important;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(13, 27, 62, 0.7);
    top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.6rem
}

.index {
    border-right: 1px solid #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
}

.index span {
     font-size: 0.7rem;
     font-weight: bold;
     color: #000000cc;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}

.title {
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
}

.info-test {

    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}

.border {
    
    width: 100%;
    padding: 10px;
    
}

.message-img-view {
    position: absolute;
    left: 5px;
    flex: 1;
    font-size: 0.85rem;
    font-style: italic;

}

.title .subject {
    box-shadow: 0px 0px 3px #bebebe;
    border-radius: 7px 0px 7px 0px;
    padding: 5px;
    background:  none;
    color: #0b7777;
    font-weight: bold;
    font-size: 0.75rem;
}

.date {
    font-style: italic;
    box-shadow: 0px 0px 2px #bebebe;
    border: 1px solid #bebebe;
    border-radius: 0px 3px 3px 10px;
    padding: 5px;
    margin-left: 10px;
    font-size: 0.70rem;
    color: #0b3d77;
}

.views {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
    width: 100%;
    flex: 1;
}

.mon {
    box-shadow: 0 0 2px #cccccc;
    border-top-right-radius: 3px;
    color: #0b3d77;
    font: 400 11px Arial;
    padding: 5px 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.views button {
    transition: all 0.2s linear;
    font-size: 0.7rem;
    padding: 7px 15px;
    border-radius: 5px;
    color: #fc7d5a;
    border: none;
    outline: none;
    background: white;
}

.views a {
    margin: 5px 0px;
    box-shadow: 0px 0px 3px #cccccc;
    border-radius: 5px;
    padding: 1px;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
}



.content-chi-tiet {
    transition: all 0.3s linear;
    animation: scale 0.3s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: auto;
    width: 90%;
    height: 70%;
    box-shadow: 0px 0px 10px #cccccc;
}

@keyframes scale {
    from{
        margin-left: -30px;
        opacity: 0;
       transform: scale(0) ;
    }
    to{
        margin-left: 0px;
        opacity: 1;
        transform: scale(1);
    }
}

.type-views {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 10%;
    font-size: 0.9rem;
    color: #000000c4;
}

.info-de {
    width: 100%;
    height: 20%;
    position: relative;
}

.info-de-table {
    border-bottom-left-radius: 3px;
    line-height: 100%;
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-top: none !important;
    border-right: none !important;
    border: 1px solid #afafaf;
}

.show-cau-hoi {
    border-bottom: 1px solid #cccccc;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    flex: 1;
}

.show-anh-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
    width: 100%;
    flex: 1;
    position: relative;
}

.show-anh-img .xem-anh {
    outline: none;
      padding: 8px 13px;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 3px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;

}
 
.delete-de {
  border-radius: 3px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}



.show-anh-img button:focus {
    box-shadow: 0 0 0 0.15rem rgba(13, 109, 253, 0.493);
}

.anh {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33.33%;
    height: 100%;
}

.itemsviews {
    font: 400 14px Arial;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 33.3333333%;
}

.noidung-de-parent {
    padding-top: 10px;
    width: 100%;
    height: 68%;
}

.noidung-de {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}





.show-type {

    z-index: -100;

    box-shadow: 0px 0px 5px #cccccc;
  
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
    line-height: 100%;
    border-bottom-right-radius: 5px;
    font-weight: bold;
}

.show-subject {
    z-index: -100;
    box-shadow: 0px 0px 5px #cccccc;

    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
    line-height: 100%;
    border-bottom-left-radius: 5px;
    font-weight: bold;

}

.title-kiemtra {
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 0px 15px 0px 15px;
    padding: 5px 0px;
    font-size: 1rem;
    text-align: center;
}

.show-de {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 10%;
    bottom: 0;
}

.show-cauhoi {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    border-top: 1px solid #dddddd;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
}

.show-anh {
    box-sizing: border-box;
    border-top: 1px solid #dddddd;
    width: 100%;
    height: 20%;
}

.cauhoi {
    display: flex;
    font: 400 12px Arial;
    color: #000000c4;
    margin-top: 10px;
    border-radius: 5px;
    width: 80%;
    border: 1px solid #dddddd;
    height: 12%;
}


.form-dangnhap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-upload {

    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;

}

.input-group {
    padding-bottom: 30px ;
    padding-top: 5px;
    width: 100%;
}



.dangnhap-input {
    padding-left: 10px;
    margin-top: 15px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 8px;
    width: 90%;
    transition: all 0.2s linear;
}

.submit-group {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    padding: 5px 0px;
}

.submit-group button {
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #12a6fc;
    padding: 8px 7px;
    transition: all 0.2s linear;
    margin-right: 5%;
}

.submit-group a {
    text-decoration: none;
    font-size: 0.9rem;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    color: white;
    border: none;
    border-radius: 12px 1px 12px 1px;
    background-color: #fcaa12;
    padding: 8px 7px;
    transition: all 0.2s linear;
}

.submit-upload {
         height: 15%;
    position: relative;
}

#add-qs {
    margin-left: 10px;
    padding: 8px 10px;
    transition: all 0.2s linear;
    border-radius: 3px;
    font-size: 0.75rem;
    background-color: rgb(0, 223, 0);
    color: white;
}

#add-qs:active {
    box-shadow: 0 0 0 0.2rem rgba(0, 223, 0, 0.5);
}

#delete-qs:active {
    box-shadow: 0 0 0 0.2rem rgba(255, 187, 0, 0.5);
}

#delete-qs {
    padding: 8px 10px;
    transition: all 0.2s linear;
    margin-left: 10px;
    border-radius: 3px;
    font-size: 0.75rem;
    background-color: rgb(255, 187, 0);
    color: white;
}

.controller-qs {
    padding-left: 5px;
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
}

.submit-group button:focus {

    box-shadow: 0 0 0 0.2rem rgba(0,123, 255, 0.25);

}

.dangnhap-input:focus {

    box-shadow: 0 0 0 0.2rem rgba(0,123, 255, 0.25);

}


.container,.content,.wrapper{
    transition: all 0.2s linear;
}

.view-list-banned {
    width: 90%;
    margin: auto auto;
    height: 70%;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-list-banned {

    margin-top: 20px;
    color: white;
    background-color: orange;
    padding: 5px;
    border-radius: 3px;

}

.show-list {
    font-size: 0.95rem;
    display: flex;
    padding: 0 0;
    margin-top: 15px;
    width: 95%;
    border: 1px solid #ccc;
}

.index-list {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    width: 10%;
    border-right: 1px solid #ccc;
}

.show-ip-banned {
    border-right: 1px solid #ccc;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    color: rgb(0, 152, 212);
}

.controller-edit-banned {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 20%;
}

#btn-active-ip {
    
    font-size: 12px;
    border: none;
    outline: none;
    padding: 4px;
    background: none;
    
    color: rgb(0, 255, 76);
    border-radius: 2px;
}

@media (max-width: 739px) {

    .swal-modal {
        width: calc(90% - 20px) !important;
    }

}
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.main-upload {
    border-top: 3px solid #007bff;
   
    transition: all 0.2s linear;
        width: 90% !important;
    height: 70%;

    position: relative;
    animation: slideUp 0.3s ease-in-out;
}

a {
    transition: all 0.2s linear;
}

a:active {
    transform: scale(1.1);
}

@keyframes fade2 {
    from{
        transform: scale(0.8);
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: scale(1);
        transform: translateX(0px);
        opacity: 1;
    }
}

.show-animation-list {

    transition: all 0.3s linear;
    animation: fade2 0.35s linear;
    
}

.main-show-error {
    font-size: 0.9rem;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin: auto auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 5px black;
}

.main-show-error a {
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 8px auto;
}


.change-khoi-popup-modal {
    position:  relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0 , 0 , 0.3);
    z-index: 11000;
    
}

.chose-table-box {
    
    color: black !important;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 92%;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.836);
    box-shadow: 5px 5px 1px  rgba(0, 0, 0, 0.274);
}

.animation-hide-chose-table-box {
    animation: animationhidechosetablebox .3s linear !important;
}

@keyframes animationhidechosetablebox {
    from{transform: scale(1); opacity: 1; }
    to{transform: scale(0); opacity: 0; }
}

.submit-go-link-change {
    width: 100%;
    padding: 3px;
    display: flex;
    justify-content: space-around;
}

.show-popup-change-animation {
    animation: scaleChange 0.2s linear;
}

@keyframes scaleChange {
    from{opacity: 0; transform: scale(0);}
    to{opacity: 1; transform: scale(1);}
}

.submit-go-link-change a {
    transition: all 0.2s linear;
    color: #000000;
    text-align: center;
    margin: 8px 0;
    padding: 5px 10px;
    width: 30%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1px;
    position: relative;
    
}

.animation-change-modal-hide {
    animation: hideChageModal 0.3s linear !important;
}

@keyframes hideChageModal {
    0% {
        
        opacity: 1;
    }

    25% {
        
        opacity: .75;
    }

    50% {
        
        opacity: .5;
    }

    75% {
        
        opacity: .25;
    }

    100% {
        
        opacity: 0;
        
    }
}

.submit-go-link-change a:active {
    position: relative;
    transform: translateY(-5px);
    margin-right: 5px;
    box-shadow: 5px 5px 0px black;

   
}

.chose-table-box button {
    transition: all 0.2s linear;
    color: #000000;
    text-align: center;
    margin: 8px 0;
    padding: 5px 10px;
    width: 30%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1px;
    position: relative;
}





#user-show {
    
    transition: all 0.3s linear;
    border-top-left-radius: 10px;
    padding: 3px 5px;
    border: 2px solid white;
    font-size: 0.9rem;
    color: white;
    margin-left: 20px;
}

#user-show:hover {
    font-weight: bold;
    color: red;
    border: 2px solid red;
}